*{
    margin: 0;
    padding: 0;
}
.slid_wrap {
    width: 320px;
    height: 40px;
    /* background-color: aliceblue; */
    overflow: hidden;
    display: inline-block;
    position: relative;
    /* border: 1px solid #858282; */
}

.slid_color {
    /* width: 250px; */
    height: 100%;
    background-color: #195;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 66;
}

.slid_txt {
    display: block;
    height: 100%;
    width: 320px;
    background-color: rgb(250, 247, 244);
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    color: #858282;
}

.slid {
    width: 44px;
    height: 100%;
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 99;
    border: 2px solid #cccccc;
    box-sizing: border-box;
    cursor: pointer;
    background-size: 100% 100%;
}