html, body {
  width: 100%;
  height: 100%;
}

html .descrip, body .descrip {
  width: 950px;
  margin-left: 80px;
}

html .descrip .classic, body .descrip .classic {
  width: 100%;
  height: 21px;
  margin: 10px 0 10px 10px;
}

html .descrip .classic span, body .descrip .classic span {
  display: inline-block;
  font-size: 12px;
  color: #6c6c6c;
}

html .descrip .sreen, body .descrip .sreen {
  width: 100%;
  min-height: 507px;
  border: 1px solid #c5c1c1;
}

html .descrip .sreen .sreen-lf, body .descrip .sreen .sreen-lf {
  width: 99px;
  padding-left: 19px;
  height: 100%;
  font-size: 16px;
  color: #999999;
  float: left;
}

html .descrip .sreen .sreen-rg a, body .descrip .sreen .sreen-rg a {
  display: inline-block;
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  color: #666666;
  padding-right: 40px;
}

html .descrip .sreen .sreen-rg a:hover, body .descrip .sreen .sreen-rg a:hover {
  color: #ef3664;
}

html .descrip .sreen .sreen-city, body .descrip .sreen .sreen-city {
  width: 100%;
  height: 36px;
  border-bottom: 1px dashed #979595;
}

html .descrip .sreen .scar, body .descrip .sreen .scar {
  width: 100%;
  height: 36px;
  border-bottom: 1px dashed #979595;
}

html .descrip .sreen .coat, body .descrip .sreen .coat {
  width: 100%;
  height: 179px;
  border-bottom: 1px dashed #979595;
}

html .descrip .sreen .skirt, body .descrip .sreen .skirt {
  width: 100%;
  height: 67px;
  border-bottom: 1px dashed #979595;
}

html .descrip .sreen .pants, body .descrip .sreen .pants {
  width: 100%;
  height: 67px;
  border-bottom: 1px dashed #979595;
}

html .descrip .sreen .market, body .descrip .sreen .market {
  width: 100%;
  height: 36px;
  overflow: hidden;
  border-bottom: 1px dashed #979595;
}

html .descrip .sreen .market span, body .descrip .sreen .market span {
  font-size: 14px;
  cursor: pointer;
  color: #999999;
  line-height: 36px;
  margin-right: 10px;
}

html .descrip .sreen .model, body .descrip .sreen .model {
  width: 100%;
  height: 36px;
  border-bottom: 1px dashed #979595;
}

html .descrip .sreen .model .sreen-rg a, body .descrip .sreen .model .sreen-rg a {
  position: relative;
}

html .descrip .sreen .model .sreen-rg a div, body .descrip .sreen .model .sreen-rg a div {
  width: 50px;
  height: 50px;
  display: none;
  position: absolute;
  left: 0px;
  height: 30px;
}

html .descrip .sreen .model .sreen-rg a div img, body .descrip .sreen .model .sreen-rg a div img {
  border-radius: 5px;
  width: 50px;
  height: 50px;
}

html .descrip .sreen .filter, body .descrip .sreen .filter {
  width: 100%;
  height: 36px;
}

html .content, body .content {
  padding: 20px 0;
  margin-left: 80px;
}

html .content .btn-class, body .content .btn-class {
  width: 100%;
}

html .content .btn-class span, body .content .btn-class span {
  display: inline-block;
  width: 120px;
  height: 35px;
  font-size: 14px;
  color: #6c6c6c;
  line-height: 35px;
  border: 1px solid #ef3664;
  cursor: pointer;
  text-align: center;
}

html .content .Ulist, body .content .Ulist {
  width: 980px;
  margin-top: 20px;
}

html .content .Ulist li, body .content .Ulist li {
  width: 230px;
  height: 370px;
  margin: 0 10px 10px 0px;
  border: 1px solid #f5f0f0;
  box-shadow: 1px 1px #f0ecec;
  float: left;
}

html .content .Ulist li .pic, body .content .Ulist li .pic {
  width: 228px;
  height: 228px;
  margin: auto;
  font-size: 0;
  position: relative;
}

html .content .Ulist li .pic .bigpic, body .content .Ulist li .pic .bigpic {
  width: 100%;
  height: 100%;
}

html .content .Ulist li .pic .minlogo, body .content .Ulist li .pic .minlogo {
  width: 73px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

html .content .Ulist li .desc, body .content .Ulist li .desc {
  padding: 4px 10px 0;
}

html .content .Ulist li .desc .price-sales .price, body .content .Ulist li .desc .price-sales .price {
  float: left;
  font-size: 18px;
  color: #ef3664;
  font-weight: 700;
}

html .content .Ulist li .desc .price-sales .sales, body .content .Ulist li .desc .price-sales .sales {
  float: right;
  font-size: 12px;
  color: #666666;
}

html .content .Ulist li .desc .title a, body .content .Ulist li .desc .title a {
  display: inline-block;
  font-size: 12px;
  color: #333333;
  padding: 5px 0;
}

html .content .Ulist li .desc .addr, body .content .Ulist li .desc .addr {
  padding: 8px 0;
  height: 28px;
}

html .content .Ulist li .desc .addr .adr, body .content .Ulist li .desc .addr .adr {
  font-size: 12px;
  color: #6c6c6c;
  float: left;
}

html .content .Ulist li .desc .addr .j-btn, body .content .Ulist li .desc .addr .j-btn {
  float: right;
  font-size: 12px;
  color: #9c9c9c;
}

html .content .Ulist li .desc .foot, body .content .Ulist li .desc .foot {
  height: 33px;
  font-size: 12px;
  color: #666666;
}

html .content .Ulist li .desc .foot img, body .content .Ulist li .desc .foot img {
  width: 17px;
  height: 17px;
}

html .content .pages, body .content .pages {
  width: 100%;
  height: 30px;
  display: block;
  text-align: center;
  margin-top: 20px;
}

html .content .pages a, body .content .pages a {
  display: inline-block;
  width: 30px;
  height: 20px;
  color: #6c6c6c;
  line-height: 20px;
  text-align: center;
  font-size: 14px;
  border: 1px solid #f5f2f2;
}

html .content .pages .active, body .content .pages .active {
  background-color: #ef3664;
  color: white;
}

html .hot-goods, body .hot-goods {
  margin-left: 80px;
}

html .hot-goods .hot-top, body .hot-goods .hot-top {
  width: 1150px;
  height: 39px;
}

html .hot-goods .hot-top span, body .hot-goods .hot-top span {
  font-size: 12px;
}

html .hot-goods .hot-top .title, body .hot-goods .hot-top .title {
  float: left;
  font-size: 20px;
}

html .hot-goods .hot-bt, body .hot-goods .hot-bt {
  width: 100%;
}

html .hot-goods ul li, html .right-goods ul li, body .hot-goods ul li, body .right-goods ul li {
  width: 220px;
  height: 387px;
  margin: 0 10px 10px 0;
  border: 1px solid #f1ebeb;
  float: left;
}

html .hot-goods ul li .pic img, html .right-goods ul li .pic img, body .hot-goods ul li .pic img, body .right-goods ul li .pic img {
  width: 100%;
  height: 345px;
}

html .hot-goods ul li .desc, html .right-goods ul li .desc, body .hot-goods ul li .desc, body .right-goods ul li .desc {
  padding: 8px;
}

html .hot-goods ul li .desc .price, html .right-goods ul li .desc .price, body .hot-goods ul li .desc .price, body .right-goods ul li .desc .price {
  display: inline-block;
  font-size: 16px;
  color: #ef3664;
}

html .hot-goods ul li .desc .addr, html .right-goods ul li .desc .addr, body .hot-goods ul li .desc .addr, body .right-goods ul li .desc .addr {
  font-size: 12px;
  color: #6c6c6c;
}

html .right-goods, body .right-goods {
  position: absolute;
  right: 50px;
  top: 200px;
  width: 220px;
}

html .right-goods .hot-top, body .right-goods .hot-top {
  height: 39px;
}

html .right-goods .hot-top .title, body .right-goods .hot-top .title {
  font-size: 20px;
}

html .right-goods ul, body .right-goods ul {
  width: 100%;
}

html .right-goods ul li, body .right-goods ul li {
  width: 220px;
  height: 367px;
  margin-bottom: 10px;
  border: 1px solid #f1ebeb;
}

html .right-goods ul li .pic, body .right-goods ul li .pic {
  width: 100%;
}

html .right-goods ul li .pic img, body .right-goods ul li .pic img {
  width: 100%;
  height: 330px;
}

html .right-goods ul li .desc, body .right-goods ul li .desc {
  padding: 8px;
}

html .right-goods ul li .desc .price, body .right-goods ul li .desc .price {
  display: inline-block;
  font-size: 16px;
  color: #ef3664;
}

html .right-goods ul li .desc .addr, body .right-goods ul li .desc .addr {
  font-size: 12px;
  color: #6c6c6c;
}
