.ban-left{
    width: 160px;
    height: 315px;
    padding: 0 10px;
    background-color: white;
    margin-right: 10px;
    display: none;
    border: 1px solid #eeeaea;
    position: absolute;
    left: 80px;
        .erji-lf{
        height: 100%;
        position: relative;
         li{
             height: 80px;
             border-bottom: 1px dashed #ccc;
           p{
               font-size: 14px;
               color: #333333;
               margin-bottom: 5px;
           }
           a{
               display: inline-block;
               font-size: 12px;
               color: #333;
               width: 48px;
               height: 18px;
               line-height: 18px;
               text-align: left;
              //  margin-right: 5px;
           }
         }
         .erji-rg{
           width: 0;
           overflow: hidden;
          //  width: 800px;
           height: 100%;
           position: absolute;
           top: 0;
           left: 170px;
           background-color: white;
           z-index: 888;
           .appendDiv{
               width: 100%;
               height: 100%;
               position: absolute;
               top: 0;
               left: 0;
           .ul-rg{
               width: 550px;
               height: 100%;
               padding: 0 10px;
               .ulTitle{
                  p{
                      display: inline-block;
                     width: 100px;
                      font-size: 14px;
                      color: #333;
                      padding-bottom: 10px;
                      border-bottom: 1px dashed #ccc;
                      margin-right: 30px; 
                      &:nth-of-type(1){
                          width: 250px;
                      } 
                  }
               }
               li{
                  //  margin-right: 30px;
                   width: 280px;
                   height: 100%;
  
  a{
      display: inline-block;
      width: 100px;
      height: 22px;
      text-align: left;
      font-size: 12px;
      color: #333;
      line-height: 22ox;
  }             
  &:nth-of-type(2){
      width: 120px;
  }   
  &:nth-of-type(3){
      width: 110px;
  }  
 }
                  }
           .erji-img{
               width: 220px;
               height: 315px;
         img{
        width: 100%;
        height: 315px;
               }
           }
       }
      }
        }
    
    }
 
