.content {
  border-top: 1px solid #e4e1e1;
  padding: 20px 80px;
}

.content .Pic {
  position: relative;
}

.content .Pic .minpic {
  width: 400px;
  height: 400px;
  position: relative;
}

.content .Pic .minpic .minbox {
  width: 100%;
  height: 100%;
}

.content .Pic .minpic .minbox img {
  width: 100%;
  height: 100%;
}

.content .Pic .minpic .bigbox {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 0;
  left: 410px;
  overflow: hidden;
  display: none;
}

.content .Pic .minpic .bigbox img {
  width: 800px;
  height: 800px;
}

.content .Pic .minpics {
  width: 300px;
  height: 60px;
  padding: 15px 25px;
  overflow: hidden;
}

.content .Pic .minpics ul {
  width: 424px;
}

.content .Pic .minpics ul li {
  float: left;
  width: 55px;
  margin-right: 15px;
}

.content .Pic .minpics ul li img {
  width: 55px;
  height: 55px;
}

.content .Pic .minpics ul .active {
  border: 2px solid #e9630a;
}

.content .Pic .clickmove {
  position: absolute;
  top: 425px;
  left: 0;
  z-index: 6;
  width: 400px;
  height: 50px;
}

.content .Pic .clickmove span {
  font-size: 18px;
  color: #4d4a4a;
  height: 100%;
  width: 20px;
  line-height: 50px;
  text-align: center;
  background-color: #f8e9e9;
}
