#soukuan {
  width: 100%;
  height: 100%;
  background-color: #eeeaea;
}

#soukuan .head {
  width: 100%;
}

#soukuan .head img {
  width: 100%;
}

#soukuan .banner1 .sp, #soukuan .banner2 .sp {
  display: inline-block;
  position: absolute;
  color: white;
  font-size: 20px;
  width: 30px;
  height: 70px;
  background: rgba(0, 0, 0, 0.3);
  line-height: 70px;
  text-align: center;
  top: 125px;
  z-index: 99;
  cursor: pointer;
}

#soukuan .banner1 .sp:first-child, #soukuan .banner2 .sp:first-child {
  left: 0px;
}

#soukuan .banner1 .sp2, #soukuan .banner2 .sp2 {
  right: 0;
}

#soukuan .banner1 {
  height: 315px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#soukuan .banner1 .main4 {
  padding: 0 80px;
  height: 100%;
}

#soukuan .banner1 .main4 .ban-left {
  width: 160px;
  height: 100%;
  padding: 0 10px;
  background-color: white;
  margin-right: 10px;
}

#soukuan .banner1 .main4 .ban-left .erji-lf {
  height: 100%;
  position: relative;
}

#soukuan .banner1 .main4 .ban-left .erji-lf li {
  height: 80px;
  border-bottom: 1px dashed #ccc;
}

#soukuan .banner1 .main4 .ban-left .erji-lf li p {
  font-size: 14px;
  color: #333333;
  margin-bottom: 5px;
}

#soukuan .banner1 .main4 .ban-left .erji-lf li a {
  display: inline-block;
  font-size: 12px;
  color: #333;
  width: 48px;
  height: 18px;
  line-height: 18px;
  text-align: left;
}

#soukuan .banner1 .main4 .ban-left .erji-lf .erji-rg {
  width: 0;
  overflow: hidden;
  height: 100%;
  position: absolute;
  top: 0;
  left: 170px;
  background-color: white;
  z-index: 888;
}

#soukuan .banner1 .main4 .ban-left .erji-lf .erji-rg .appendDiv {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#soukuan .banner1 .main4 .ban-left .erji-lf .erji-rg .appendDiv .ul-rg {
  width: 550px;
  height: 100%;
  padding: 0 10px;
}

#soukuan .banner1 .main4 .ban-left .erji-lf .erji-rg .appendDiv .ul-rg .ulTitle p {
  display: inline-block;
  width: 100px;
  font-size: 14px;
  color: #333;
  padding-bottom: 10px;
  border-bottom: 1px dashed #ccc;
  margin-right: 30px;
}

#soukuan .banner1 .main4 .ban-left .erji-lf .erji-rg .appendDiv .ul-rg .ulTitle p:nth-of-type(1) {
  width: 250px;
}

#soukuan .banner1 .main4 .ban-left .erji-lf .erji-rg .appendDiv .ul-rg li {
  width: 280px;
  height: 100%;
}

#soukuan .banner1 .main4 .ban-left .erji-lf .erji-rg .appendDiv .ul-rg li a {
  display: inline-block;
  width: 100px;
  height: 22px;
  text-align: left;
  font-size: 12px;
  color: #333;
  line-height: 22ox;
}

#soukuan .banner1 .main4 .ban-left .erji-lf .erji-rg .appendDiv .ul-rg li:nth-of-type(2) {
  width: 120px;
}

#soukuan .banner1 .main4 .ban-left .erji-lf .erji-rg .appendDiv .ul-rg li:nth-of-type(3) {
  width: 110px;
}

#soukuan .banner1 .main4 .ban-left .erji-lf .erji-rg .appendDiv .erji-img {
  width: 220px;
  height: 315px;
}

#soukuan .banner1 .main4 .ban-left .erji-lf .erji-rg .appendDiv .erji-img img {
  width: 100%;
  height: 315px;
}

#soukuan .banner1 .main4 .ban-center {
  width: 570px;
  height: 100%;
  margin-right: 10px;
  position: relative;
}

#soukuan .banner1 .main4 .ban-center .ban1-1 {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}

#soukuan .banner1 .main4 .ban-center .ban1-1 .imgBan {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0;
}

#soukuan .banner1 .main4 .ban-center .ban1-1 .imgBan img {
  font-size: 0;
  width: 570px;
  height: 315px;
}

#soukuan .banner1 .main4 .ban2 {
  width: 200px;
  height: 100%;
  margin-right: 10px;
  position: relative;
}

#soukuan .banner1 .main4 .ban2 .ban3-1 {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}

#soukuan .banner1 .main4 .ban2 .ban3-1 .imgBan2 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0;
}

#soukuan .banner1 .main4 .ban2 .ban3-1 .imgBan2 img {
  font-size: 0;
  width: 200px;
  height: 315px;
}

#soukuan .banner1 .main4 .ban-right {
  width: 200px;
  height: 100%;
  background-color: #eeeaea;
  display: flex;
  flex-direction: column;
}

#soukuan .banner1 .main4 .ban-right .banRg-top {
  height: 125px;
  padding: 15px 30px;
  background-color: white;
  font-size: 14px;
  color: #6c6c6c;
  margin-bottom: 10px;
}

#soukuan .banner1 .main4 .ban-right .banRg-top div {
  margin-bottom: 8px;
}

#soukuan .banner1 .main4 .ban-right .banRg-top div .btn {
  display: inline-block;
  width: 130px;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  text-align: center;
}

#soukuan .banner1 .main4 .ban-right .banRg-top div:nth-of-type(2) .btn1 {
  color: white;
  background-color: #f96388;
}

#soukuan .banner1 .main4 .ban-right .banRg-top div:nth-of-type(4) .btn2 {
  color: #464545;
  border: 1px solid #ccc;
}

#soukuan .banner1 .main4 .ban-right .banRg-bt {
  background-color: white;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

#soukuan .banner1 .main4 .ban-right .banRg-bt .banRg1 {
  width: 100%;
  height: 30px;
  font-size: 14px;
  display: flex;
  text-align: center;
  line-height: 30px;
}

#soukuan .banner1 .main4 .ban-right .banRg-bt .banRg1 span {
  flex: 1;
  border-bottom: 2px solid #ccc;
}

#soukuan .banner1 .main4 .ban-right .banRg-bt .banRg1 .active {
  color: #f96388;
  border-bottom: 2px solid #f96388;
}

#soukuan .banner1 .main4 .ban-right .banRg-bt .banRg2 {
  flex: 1;
  position: relative;
  padding-top: 10px;
}

#soukuan .banner1 .main4 .ban-right .banRg-bt .banRg2 .tab {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

#soukuan .banner1 .main4 .ban-right .banRg-bt .banRg2 .tab a {
  display: block;
  width: 130px;
  height: 24px;
  font-size: 12px;
  color: #6c6c6c;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 10px 20px;
}

#soukuan .banner1 .main4 .ban-right .banRg-bt .banRg2 .active1 {
  display: block;
}

#soukuan .banner2 {
  width: 100%;
  height: 240px;
}

#soukuan .banner2 .main5 {
  height: 100%;
  padding: 0 80px;
}

#soukuan .banner2 .main5 .ban-left {
  width: 160px;
  height: 100%;
  background-color: white;
  overflow: hidden;
  margin-right: 10px;
  padding: 0 10px;
}

#soukuan .banner2 .main5 .ban-left .title {
  width: 100%;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
}

#soukuan .banner2 .main5 .ban-left .memu {
  width: 100%;
  height: 184px;
}

#soukuan .banner2 .main5 .ban-left .memu a {
  float: left;
  width: 48px;
  height: 18px;
  padding-right: 5px;
  margin-bottom: 8px;
  font-size: 12px;
  color: #6c6c6c;
}

#soukuan .banner2 .main5 .ban-left .moreMemu {
  width: 100%;
  height: 30px;
  background-color: white;
  z-index: 999;
  text-align: center;
}

#soukuan .banner2 .main5 .ban-left .moreMemu span {
  display: block;
  font-size: 12px;
  color: #6c6c6c;
  cursor: pointer;
}

#soukuan .banner2 .main5 .ban2-1 {
  width: 990px;
  height: 100%;
  position: relative;
  background-color: white;
}

#soukuan .banner2 .main5 .ban2-1 .ban2-2 {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}

#soukuan .banner2 .main5 .ban2-1 .ban2-2 .imgBan1 {
  position: absolute;
  font-size: 0;
}

#soukuan .banner2 .main5 .ban2-1 .ban2-2 .imgBan1 img {
  width: 190px;
  height: 240px;
  margin-right: 10px;
}

#soukuan .banner2 .main5 .ban2-1 .ban2-2 .imgBan1 img:nth-of-type(5n) {
  margin-right: 0;
}

#soukuan .bg2 {
  padding: 0 80px;
  height: 60px;
  margin: 20px auto;
}

#soukuan .bg2 a {
  display: block;
}

#soukuan .bg2 a img {
  width: 1180px;
  height: 100%;
}

#soukuan .content1, #soukuan .content2 {
  padding: 0 80px;
  height: 458px;
  position: relative;
}

#soukuan .content1 .title, #soukuan .content2 .title {
  height: 37px;
  width: 100%;
}

#soukuan .content1 .title p:nth-of-type(1), #soukuan .content2 .title p:nth-of-type(1) {
  font-size: 22px;
}

#soukuan .content1 .title p:nth-of-type(2), #soukuan .content2 .title p:nth-of-type(2) {
  font-size: 14px;
  color: #6c6c6c;
}

#soukuan .content1 .title p:nth-of-type(2) .prev, #soukuan .content1 .title p:nth-of-type(2) .next, #soukuan .content2 .title p:nth-of-type(2) .prev, #soukuan .content2 .title p:nth-of-type(2) .next {
  cursor: pointer;
}

#soukuan .content1 .title p:nth-of-type(2) .prev:hover, #soukuan .content1 .title p:nth-of-type(2) .next:hover, #soukuan .content2 .title p:nth-of-type(2) .prev:hover, #soukuan .content2 .title p:nth-of-type(2) .next:hover {
  color: #f96388;
}

#soukuan .content1 .repeat-box, #soukuan .content2 .repeat-box {
  width: 1189px;
  height: 431px;
  position: absolute;
  top: 37px;
  left: 80;
  display: none;
  overflow: hidden;
}

#soukuan .content1 .repeat-box .main-top, #soukuan .content2 .repeat-box .main-top {
  width: 100%;
  height: 46px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  background-color: white;
}

#soukuan .content1 .repeat-box .main-top a, #soukuan .content2 .repeat-box .main-top a {
  flex: 1;
  font-size: 16px;
  color: #6c6c6c;
  line-height: 46px;
  text-align: center;
  border-bottom: 2px solid #f96388;
}

#soukuan .content1 .repeat-box .main-top .active2, #soukuan .content2 .repeat-box .main-top .active2 {
  color: white;
  background-color: #f96388;
}

#soukuan .content1 .repeat-box .main-bt, #soukuan .content2 .repeat-box .main-bt {
  width: 100%;
  height: 345px;
  margin-top: 20px;
  position: relative;
  top: 46px;
}

#soukuan .content1 .repeat-box .main-bt .tab, #soukuan .content2 .repeat-box .main-bt .tab {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  display: none;
}

#soukuan .content1 .repeat-box .main-bt .tab .item, #soukuan .content2 .repeat-box .main-bt .tab .item {
  width: 222px;
  height: 335px;
}

#soukuan .content1 .repeat-box .main-bt .current3, #soukuan .content2 .repeat-box .main-bt .current3 {
  display: flex;
}

#soukuan .content1 .current2, #soukuan .content2 .current2 {
  display: block;
}
